h1,h2,h3,h4,h5,h6,p,span,input,button,form,
header,section,div,footer,ul,li,a,ol,dl,dd,dt{
    font-family: "Roboto", sans-serif;
}

:root{
    --purple:#4D2C5E;
    --Primary-Black:#050C26;
    --second-black:#1D1D1D;
    --orange: #FF7426;
    --white:#FFF;
    --pink:#FDF8EE;
    --grey:#8A8A8A;
    --overley:rgba(26, 26, 26, 0.54);
    --primary-pink:rgba(255, 255, 255, 0.20);
    --black:#000;
}

/* shimaa header */
.header{
    background: var(--pink);
    padding: 50px 0;
}

.header .list-gap{
    gap: 50px;
}

.header .nav-gap{
    gap: 60px;
}

.header .nav-list a{
    color: var(--second-black);
    font-size: 18px;
    font-weight: 600;
}

.header .nav-list a:hover{
    color: var(--purple);
}

.main-link{
    padding: 18px 50px;
        /* width: 191px;
    height: 65px; */
    border-radius: 218px;
    background: var(--purple);
    color: var(--white);
    font-size: 25px;
    font-weight: 500;
    transition: all linear 0.3s;
}

.main-link:hover{
    transform: scale(1.1);
    color: var(--purple);
    background-color: var(--pink);
    border:1px solid var(--purple)
}

header .dropdown-content .nav-bar ul{
    width: 150px;
}

header .dropdown-content{
    position: fixed;
    background-color: var(--white);
    top: 0;
    right: -100%;
    width: 70%;
    z-index: 6;
    height: 100vh;
    padding: 50px;
}

header #check:checked ~ .dropdown-content{
    right:0;
}

header #check{
    appearance: none;
}

header #check:checked ~ .dropdown-content .close-menu{
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
}

header .dropdown-content .log-link{
    padding: 0;
}

header #check:checked ~ .overley{
    background-color: var(--overley);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

/* header .menu-address{
    border-top: 1px solid var(--border-back);
    padding-top: 24px;
} */

header .menu-address :where(address, div a){
    color: var(--Text-Colour-2);
    font-size: 13.3px;
    font-weight: 400;
    line-height: 22px;
}


/* shimaa hero section */
.hero-section{
    padding: 150px 0 700px ;
    background-color: var(--pink);
    background-image: url(../img/hero-back.png);
    background-repeat: no-repeat;
    background-position: 1080px 40px;
    height: 100vh;
}

.hero-section h1{
    color: var(--Primary-Black);
    font-size: 50px;
    font-weight: 800;
    line-height: 135%;
    max-width: 586px;
}

.hero-section p{
    max-width: 586px;
    color: #8A8A8A;
    font-size: 20px;
    font-weight: 500;
    line-height: 171%;
}

.hero-section h1 span{
    color: var(--orange);
}

.hero-section form{
    margin-top: 50px;
    background: var(--white);
    padding: 5px 10px 5px 20px;
    /* width:586px; */
    border-radius: 96px;
}

.hero-section .main-link{
    padding: 18px;
}

.hero-section .form-gap{
    gap: 12px;
}

.hero-section input{
    border: none;
}

.hero-section #search{
    color: var(--Primary-Black);
    font-size: 20px;
    font-weight: 500;
}

.hero-section .img-item img{
    display: block;
    width: 100%;
}

/*  shimaa info section  */
.info-section .container{
    max-width: 1300px;
    border-radius: 14px;
    background: var(--purple);
    transition: all linear 0.3s;
    position: relative;
    bottom: 100px;
    padding:30px 10px;
}

.info-section .container:hover{
    transform: translateY(20px);
    box-shadow: 3px 3px 20px var(--grey);
}

.info-section .img-item{
    border-radius: 23px;
    background: var(--primary-pink);
    width: 80px;
    height: 80px;
}

.info-section h3{
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
}

.info-section p{
    max-width: 292px;
    color: var(--primary-pink);
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 10px;
}

.info-section .info-gap{
    gap: 25px;
}
    
/* shrouk tracks section  */
.tracks-section{
    background-image:url(../img/idea.png), url(../img/arr.png);
    background-repeat: no-repeat;
    background-position: top  left ,top right;
}

.tracks-section .gap-track{
    gap:9px;
}

.tracks-section .item-content h2{
    color:var(--black) ;
    font-family: "Jost", sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

.tracks-section .item-content p{
    color: var(--grey);
    font-family: "Poppins", sans-serif;
    margin-bottom: 65px;
    font-size: 20px;
    font-weight: 500;
}

.tracks-section .item{
    border-radius: 14px;
    background: var(--white);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
    padding: 13px;
}

.tracks-section .img-item img{
    display: block;
    overflow: hidden;
    border-radius: 14px;
}

.tracks-section .cont-gap{
    gap: 3px;
}

/*  shrouk premium section  */

/*  menna students section */

/* menna prof track section */

/* esraa subscribe section */

/* esraa footer */