h1,h2,h3,h4,h5,h6,p,span,input,button,form,
header,section,div,footer,ul,li,a,ol,dl,dd,dt{
    font-family: "Roboto", sans-serif;
}

:root{
    --purple:#4D2C5E;
    --Primary-Black:#050C26;
    --orange: #FF7426;
    --white:#FFF;
    --pink:#FDF8EE;
    --grey:#8A8A8A;
}